
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSSs {
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
}

<h1>Danh sách nhân viên</h1>

<button type="button" onclick="loadViewUpsertStaff()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upsertModal">Thêm</button>


<table id="tbl1" class="table table-bordered shadow p-4 rounded-1"></table>


<div class="modal fade" id="upsertModal" tabindex="-1" aria-labelledby="upsertModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="upsertModal">Cập nhập thông tin</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Mẫu 1:</label>
                        <input type="text" class="form-control" id="recipient-name" value="Vui lòng chờ đợi">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Mẫu 2:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js" asp-append-version="true"></script>
    <script src="~/js/areas/manager/Lab1.js" asp-append-version="true"></script>
}