@using Lab.Models.DTOs.NhanVien
@model ResponseAPI<NhanVienDTO>

<div class="modal-header">
    <h1 class="modal-title fs-5" id="upsertModal">Cập nhập thông tin</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="formUpsertStaff" enctype="multipart/form-data" onsubmit="return actionUpsertStaff(event)">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label asp-for="Data.MaNhanVien" class="control-label"></label>
            <input asp-for="Data.MaNhanVien" class="form-control" disabled name="Data.MaNhanVien" />
        </div>

        <div class="form-group">
            <label asp-for="Data.HoTen" class="control-label"></label>
            <input asp-for="Data.HoTen" class="form-control" required maxlength="50" name="Data.HoTen" />
            <span asp-validation-for="Data.HoTen" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Data.SoDienThoai" class="control-label"></label>
            <input asp-for="Data.SoDienThoai" class="form-control" required maxlength="20" name="Data.SoDienThoai" />
            <span asp-validation-for="Data.SoDienThoai" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Data.NgaySinh" class="control-label"></label>
            <input asp-for="Data.NgaySinh" class="form-control" type="date" required name="Data.NgaySinh" />
            <span asp-validation-for="Data.NgaySinh" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Data.TenDangNhap" class="control-label"></label>
            <input asp-for="Data.TenDangNhap" class="form-control" required maxlength="50" name="Data.TenDangNhap" />
            <span asp-validation-for="Data.TenDangNhap" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Data.MatKhau" class="control-label"></label>
            <input asp-for="Data.MatKhau" class="form-control" required maxlength="50" name="Data.MatKhau" />
            <span asp-validation-for="Data.MatKhau" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Data.VaiTro" class="control-label"></label>
            <select asp-for="Data.VaiTro" class="form-control" asp-items="@(new SelectList(new[] { "Admin", "User" }, Model?.Data?.VaiTro))" name="Data.VaiTro">
            </select>
            <span asp-validation-for="Data.VaiTro" class="text-danger"></span>
        </div>


        <div class="modal-footer py-3">
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        </div>
    </form>
</div>